#define MOUSE_KEYS

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#ifdef EXTERNAL_POWER
#    include <dt-bindings/zmk/ext_power.h>
#endif
#ifdef MOUSE_KEYS
#    include <dt-bindings/zmk/mouse.h>
#endif

// Layer definitions
    #define BASE 0
    #define NUM 1
    #define SYM 2
	#define PAD 3
    #define FNC 4
// -----------------

// Desktop and tab navigation shortcuts
#define D_LT   LC(LG(LEFT))
#define D_RT   LC(LG(RIGHT))
#define TAB_RT LC(TAB)
#define TAB_LT LC(LS(TAB))


// Key position groups
#define KEYS_L 0 1 2 3 4 10 11 12 13 14 20 21 22 23 24
#define KEYS_R 5 6 7 8 9 15 16 17 18 19 25 26 27 28 29
#define THUMBS 30 31 32 33
// -----------------

#define QUICK_TAP_MS 175

#include "combos.dtsi"

#ifdef MOUSE_KEYS
#    include "mouse.dtsi"
#endif

&mt {
  quick-tap-ms = <80>;
//   global-quick-tap;
  flavor = "balanced";
  tapping-term-ms = <150>;
};

&sk {
		// don't release mods on other mods presses
    ignore-modifiers;
};

&lt {  // layer-tap config
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <QUICK_TAP_MS>;
};

/ {
	behaviors {
        aml: alpha_mods_l {
            compatible = "zmk,behavior-hold-tap";
            label = "ALPHA_MT_L";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <150>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_R THUMBS>;
            hold-trigger-on-release;
            global-quick-tap-ms = <100>;
        };
        asl: alpha_shift_l {
            compatible = "zmk,behavior-hold-tap";
            label = "ALPHA_SFT_L";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_R THUMBS>;
            hold-trigger-on-release;
        };
        amr: alpha_mods_r {
            compatible = "zmk,behavior-hold-tap";
            label = "ALPHA_MT_R";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <150>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_L THUMBS>;
            hold-trigger-on-release;
            global-quick-tap-ms = <100>;
        };
        asr: alpha_shift_r {
            compatible = "zmk,behavior-hold-tap";
            label = "ALPHA_SFT_R";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_L THUMBS>;
            hold-trigger-on-release;
        };

        // Swapper for smart alt+tab
        swapper: swapper {
            compatible = "zmk,behavior-tri-state";
            label = "SWAPPER";
            #binding-cells = <0>;
            bindings = <&kt LALT>, <&kp TAB>, <&kt LALT>;
            ignored-key-positions = <21>;
        };
    };
		
	macros {
		// sometimes my device thinks a modifier is being held down
		// pressing all modifiers fixes it.
		unstick: unstick {
			label = "ZM_unstick";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&kp LSHIFT &kp RSHIFT &kp LCTRL &kp RCTRL &kp LALT &kp RALT &kp LGUI &kp RGUI>;
		};
	};
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			label = "BASE";
            bindings = <
// ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮   ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
   	&kp Q            &kp W            &kp E            &kp R            &kp T                &kp Y       	  &kp U            &kp I       		&kp O       	 &kp P
// ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤   ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
   	&mt LSHFT A      &aml LALT S      &aml LGUI D      &kp F            &kp G                &kp H       	  &kp J            &amr LGUI K  	&amr LALT L  	 &mt RSHFT SEMI
// ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤   ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
   	&mt LCTRL Z      &kp X            &kp C            &kp V            &kp B                &kp N       	  &mt MINUS M      &mt EQUAL COMMA  &mt EXCL DOT	 &mt RCTRL FSLH
// ╰────────────────┴────────────────┴────────────────┼────────────────┼────────────────┤   ├────────────────┼────────────────┼────────────────┴────────────────┴────────────────╯
                                              		   &lt PAD TAB      &lt SYM SPACE        &lt NUM RET 	  &kp BSPC
//                                                    ╰────────────────┴────────────────╯   ╰────────────────┴────────────────╯
            >;
		};
        lower_layer {
			label = "NUM";
            bindings = <
// ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮   ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
    &kp N1		     &kp N2		      &kp N3		   &kp N4		    &kp N5		    	 &kp N6	    	  &kp N7		   &kp N8			&kp N9			 &kp N0
// ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤   ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
    &trans 		 	 &kp TAB_LT	  	  &kp TAB_RT       &trans   	    &kp INS       		 &kp HOME		  &kp LEFT		   &kp UP  		    &kp RIGHT		 &kp PG_UP
// ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤   ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
    &trans 		 	 &kp C_VOL_UP	  &kp C_VOL_DN	   &kp C_PP 	    &trans        		 &kp END	      &trans	       &kp DOWN		    &trans	    	 &kp PG_DN
// ╰────────────────┴────────────────┴────────────────┼────────────────┼────────────────┤   ├────────────────┼────────────────┼────────────────┴────────────────┴────────────────╯
               	                                       &trans           &mo FNC         	 &trans      	  &kp DEL
//                                                    ╰────────────────┴────────────────╯   ╰────────────────┴────────────────╯
            >;
		};
		raise_layer {
			label = "SYM";
			bindings = <
// ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮   ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
    &kp EXCL  	     &kp AT 		  &kp HASH  	   &kp DLLR  	    &kp PRCNT       	 &kp CARET		  &kp AMPS		   &kp ASTRK		&kp LPAR		 &kp RPAR
// ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤   ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
    &sk LALT	     &sk LGUI	      &sk LSHIFT	   &sk LCTRL	    &sk RALT 	    	 &kp MINUS 		  &kp EQUAL		   &kp BSLH		    &kp LBRC   		 &mt RSHFT RBRC
// ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤   ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
    &kp PRINTSCREEN  &trans 		  &trans  		   &kp GRAVE    	&kp TILDE 			 &kp UNDER		  &kp PLUS		   &kp PIPE		    &kp LBKT 		 &mt RCTRL RBKT
// ╰────────────────┴────────────────┴────────────────┼────────────────┼────────────────┤   ├────────────────┼────────────────┼────────────────┴────────────────┴────────────────╯
        	                                           &trans           &trans          	 &mo FNC     	  &kp DEL
//                                                    ╰────────────────┴────────────────╯   ╰────────────────┴────────────────╯
            >;
		};
		pad_layer {
			label = "PAD";
			bindings = <
// ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮   ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
    &kp ESC	         &kp N7	          &kp N8		   &kp N9	        &kp MINUS       	 &mwh SCROLL_LEFT &mwh SCROLL_DOWN &mkp MCLK 		&mwh SCROLL_UP 	 &mwh SCROLL_RIGHT
// ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤   ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
    &mt LSHIFT TAB	 &kp N4	          &kp N5		   &kp N6	        &kp DOT 	    	 &none       	  &mmv MOVE_LEFT   &mmv MOVE_UP 	&mmv MOVE_RIGHT  &none
// ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤   ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
    &kp N0     		 &kp N1    	 	  &kp N2 		   &kp N3   		&kp EQUAL  	   		 &none         	  &mkp MB4         &mmv MOVE_DOWN   &mkp MB5      	 &none
// ╰────────────────┴────────────────┴────────────────┼────────────────┼────────────────┤   ├────────────────┼────────────────┼────────────────┴────────────────┴────────────────╯
        	                                           &trans           &trans          	 &mkp LCLK     	  &mkp RCLK
//                                                 	  ╰────────────────┴────────────────╯   ╰────────────────┴────────────────╯
            >;
		};
        fuc_layer {
			label = "Func";
            bindings = <
// ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮   ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
    &kp F9	         &kp F10	      &kp F11		   &kp F12	        &none          		 &none			  &none			   &none			&none     		 &none
// ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤   ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
    &kp F5	         &kp F6	          &kp F7		   &kp F8	        &none 	        	 &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2 	&bt BT_SEL 3   	 &bt BT_CLR
// ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤   ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
    &kp F1     		 &kp F2    		  &kp F3 		   &kp F4   		&none 	    		 &none	    	  &none	   		   &none  	    	&unstick 		 &bootloader
// ╰────────────────┴────────────────┴────────────────┼────────────────┼────────────────┤   ├────────────────┼────────────────┼────────────────┴────────────────┴────────────────╯
        	                                           &trans           &trans          	 &trans      	  &trans
//                                                 	  ╰────────────────┴────────────────╯   ╰────────────────┴────────────────╯
            >;
		};
    };
};
